EnumControlView
{
    flex-direction: row;
    align-items: center;
    padding: 6px 4px;
    margin-bottom: 1px;
    background-color: #393939;
}

.unity-text-element {
    max-width: 80px;
    flex-grow: 1;
    -unity-text-align: middle-left;
    margin: 0;
    font-size: 11;
}

.unity-base-field {
    max-width: 60px;
    margin: 0;
}
