FloatControlView
{
    flex-direction: row;
    align-items: center;
    padding: 6px 4px;
    margin-bottom: 1px;
    background-color: #393939;
}

FloatControlView > Label {
    max-width: 100px;
    width: 20px;
    flex-grow: 1;
    margin: 0;
}

.unity-base-field {
    width: 40px;
    margin: 0;
}